<%# 下記はメインチャットのヘッダー部分 %>
<div class="chat-header">
  <div class="left-header">
    <div class="header-title">
     <%= @room.name %>
     <%# ↪︎この記述でメッセージ画面の左上にルーム名が表示される %>
    </div>
  </div>
  <div class="right-header">
    <div class="header-button">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
</div>


<%# 下記はメインチャットのメッセージが表示される部分 %>
<div class="messages">
  <%= render partial: 'message',collection: @messages %>
  <%# collectionオブションを使うことで変数の数だけrenderで呼び出してくれるようになる %>
</div>

<%# 下記はチャット画面のフォームの場所 %>
<%= form_with model: [@room, @message], class: 'form', local: true do |f| %>
<%# 　↪︎この＠roomには「指定したチャットルームの情報」、＠messageには空のインスタンスが入っている %>
  <div class="form-input">
    <%= f.text_field :content, class: 'form-message', placeholder: 'type a message' %>
      <%# ↪︎「placeholder」は文字をうっすら表示させたい時に利用する %>
    <label class="form-image">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: 'hidden' %>
    </label>
      <%# ↪︎「label」要素のおかげで画像を押しても「ファイルを選択」という不要な文字が出ない %>
  </div>
  <%= f.submit '送信', class: 'form-submit' %>
<% end %>